/.idea/misc.xml
/.idea/modules.xml
/.idea/project-template.xml
/Temperature Slider.iml
/.idea/.gitignore
/.idea/description.html
/.idea/encodings.xml
/out/production/Temperature Slider/Main.class
/out/production/Temperature Slider/TemperatureSlider.class
/.idea/vcs.xml
